<html>
        <head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163480621-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-163480621-1');
            </script>
            
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="Gautam Hathi">
            <meta name="author" content="Gautam's website">
            <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
            <link rel="manifest" href="favicon/manifest.json">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
            <meta name="theme-color" content="#ffffff">
            <title>Gautam Hathi</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
            <style>

            .jumbotron {
                height: 100%;
                max-height: 250;
            }

            .main-content {
                margin-top: 30px;
            }

            body {
                overflow-x: hidden;
            }

            .project-img {
                height: 200px;
                width: auto;
                display: block;
                margin: auto;
            }

            .thumbnail {
                overflow: hidden;
            }

            .navbar {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .nav-link {
                padding-top: 4px;
                padding-bottom: 4px;
            }

            @media only screen and (max-width: 768px) and (orientation: portrait) {
                .header-img {
                    width: 75%;
                    height: auto;
                    display: block;
                    margin: auto;
                }

                .header-left {
                    padding-right: 0px;
                    padding-left: 0px;
                    width: 100vw;
                }

                .row {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            
            @media only screen and (min-width: 768px) {
                .header {
                    max-height: 260px;
                }

                .header-left {
                    padding: 0px;
                }

                .header-right {
                    overflow: hidden;
                }

                .header-img {
                    height: 100%; 
                    width: auto;
                    max-height: 260px;
                }

                .caption-text {
                    height: 130px;
                }
            }

            @media only screen and (max-width: 768px) and (orientation: landscape) {
                
                .header-left {
                    padding: 0px;
                    margin: 0px; 

                }

                .header-right {
                    padding: 0px 40px;
                    margin: 0px; 
                }

                .header-img {
                    width: 75%;
                    height: auto;
                    display: block;
                    margin: auto;
                }

                .main-content {
                    padding: 0px 40px;
                }

                .caption-text {
                    height: 175px;
                }
            }

            #photo-imgs {
                /* Prevent vertical gaps */
                line-height: 0;
                display: block;
                z-index: 1;
                
                -webkit-column-count: 5;
                -webkit-column-gap:   8px;
                -moz-column-count:    5;
                -moz-column-gap:      0px;
                column-count:         5;
                column-gap:           8px;
                margin-bottom:        25px;
            }

            #photo-imgs img {
                /* Just in case there are inline attributes */
                width: 280px;
                height: auto !important;
                
                margin: 8px 0px;
                border-width: 20px, 20px, 0px, 0px;
                
                transition: all 0.3s;
                overflow: visible;

            }

            #photo-imgs a {
                /* Just in case there are inline attributes */
                width: auto;
                height: auto !important;
                overflow: visible;
            }

            #photo-imgs img:hover {
                transform: scale(1.03);
                z-index: 99;
            }

            @media (max-width: 1750px) {
                #photo-imgs {
                    -moz-column-count:    4;
                    -webkit-column-count: 4;
                    column-count:         4;
                }
            }

            @media (max-width: 1450px) {
                #photo-imgs {
                    -moz-column-count:    3;
                    -webkit-column-count: 3;
                    column-count:         3;
                }
            }
            @media (max-width: 1050px) {
                #photo-imgs {
                    -moz-column-count:    2;
                    -webkit-column-count: 2;
                    column-count:         2;
                }
            }
            @media (max-width: 750px) {
                #photo-imgs {
                    -moz-column-count:    1;
                    -webkit-column-count: 1;
                    column-count:         1;
                }
            }

            </style>
        </head>
    <body>
        <main role="main" >
            <div class="row header">
                <div class="header-left col-md-10 offset-md-1">
                    <nav class="navbar navbar-expand-lg navbar-light navbar-static-top bg-light">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#projects">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#writing">Writing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#photos">Photography</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./thoughts/index.html">Thoughts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row header">
                <div class="header-left col-md-7 col-sm-12 offset-md-1">
                    <div class="jumbotron">
                        <h1>Gautam Hathi</h1>
                        <hr/>
                        <h4><i>find me on Twitter <a href="https://twitter.com/gautamhathi">@gautamhathi</a> and on <a href="https://github.com/gautamh">GitHub</a></i></h4>
                        <h5><i>also maybe try <a rel="me" href="https://mastodon.social/@gautamh">Mastodon</a></i></h5>
                    </div>
                </div>
                <div class="col-md-3 header-right"> 
                    <img class="header-img" src="GKH_FB_4_3.jpg"/>
                </div>
                
            </div>
            <div class="row main-content">
                <div class="col-md-10 offset-md-1" id="projects">
                    <h1>Projects</h1>
                </div>
                <div class="row col-md-10 offset-md-1"> 
                    {{#projects}}
                    <div class="col-sm-6 col-md-4"> 
                        <h3>{{project-title}}</h3> 
                        <div class="thumbnail"> 
                            <img class="project-img" alt="100%x200" src="{{img-src}}" data-holder-rendered="true"> 
                            <div class="caption"> 
                                <p class="caption-text">{{project-text}}</p> 
                                <p><a href="{{link}}" class="btn btn-default" role="button">More...</a></p> 
                            </div> 
                        </div>
                    </div> 
                    {{/projects}}
                </div>
                <div class="col-md-10 offset-md-1" id="writing">
                    <h1>Writing</h1>
                </div>
                <div class="col-md-10 offset-md-1">
                    <p>See also the <a href="./thoughts/index.html">Thoughts</a> page.</p>
                </div>
                <div class="row col-md-10 offset-md-1">
                    {{#writing}}
                    <div class="col-sm-6 col-md-4">
                        <blockquote class="blockquote">
                            <h3>{{story-title}}</h3> 
                            <p class="mb-0">"{{pullquote}}"</p>
                            <footer class="blockquote-footer"><cite title="Source Title">{{source}}</cite></footer>
                            <p><a href="{{link}}" class="btn btn-default" role="button">Read...</a></p> 
                        </blockquote>
                    </div>
                    {{/writing}}
                </div>
                <div class="col-md-10 offset-md-1" id="photos">
                    <h1>Photography</h1>
                    <p>In my free time I like to take photos. Here are some samples (click to enlarge and view in a gallery):</p>
                </div>
                <div class="row col-md-10 offset-md-1" id="photo-imgs"> 
                    {{#photos}}
                    <a href="{{img-src}}" data-fancybox="gallery" data-caption="{{caption}}">
                        <img class="photo-img" src="{{img-src-thumb}}" data-holder-rendered="true"> 
                    </a>
                    {{/photos}}
                </div>
            </div>
        </main>
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
    </body>
</html>